.box-container {
    max-width: 1200px;    
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 0 10px;
    }  
}

.box-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    } 
}
