body {
    position: relative;
    overflow-x: hidden;
}

.box-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.ct-mb {
    display: none;
}
main{
    font-family: roboto;
}
@include responsive("md") {
    .box-container {
        padding: 0 5px;
    }
}   

@include responsive("sm") {
    .box-container {    
        padding: 0 10px;
    }
    .ct-desk {
        display: none;
    }
    .ct-mb {
        display: block;
    }
}
